@keyframes cardDetailButtomHoverIn
     0%
          opacity: 0
          transform: translateY(-10px)
     100%
          opacity: 1
          transform: translateY(0px)
@keyframes cardDetailHoverIn
     from
          opacity: 0
          height: 0
     to
          opacity: 1
          height: 70px
@keyframes cardDetailHoverOut
     from
          opacity: 1
          height: 70px
     to
          opacity: 0
          height: 0px
          
     
@mixin svg-font($sizeS:1rem,$size:2rem,$color:$red)
     svg
          font-size: $sizeS
          color: $color
          @media screen and (min-width: 992px)
               font-size: $size


@mixin font-menu($weight,$sizeS,$sizeM,$sizeL,$size,$color,$colorHover)
     a
          line-height: 1.5em
          text-transform: uppercase
          display: inline-block
          padding: 0rem .15rem
          margin: 0 .5rem
          text-decoration: none
          position: relative
          @media screen and (min-width: 992px)
               margin: 0 .35rem
          @media screen and (min-width: 1200px)
               margin: 0rem
          @media screen and (min-width: 1400px)
               margin: 0rem
          .icon-chevron-down
               position: absolute
               bottom: -14px
               left: 50%
               color: $color
               transform: translateX(-50%)
          span 
               font-family: $font-menu
               font-weight: $weight
               font-size: $sizeS
               color: $color
               transition: .5s ease color
               letter-spacing: -.025em
               @media screen and (min-width: 992px)
                    font-size: $sizeM
               @media screen and (min-width: 1200px)
                    font-size: $sizeL
               @media screen and (min-width: 1400px)
                    font-size: $size
          &:hover
               svg,
               span
                    color: $colorHover
          &.btn-event-main
               color: $pink
               @include svg-font($sizeS,1.5rem,$pink)
               svg
                    margin-right: .5rem 

               &:hover 
                    color: $pink

@mixin font-account($weight,$sizeS,$size,$color,$colorHover)
     a
          text-decoration: none
          span
               font-family: $font-account
               font-weight: $weight
               font-size: $sizeS
               color: $color 
               transition: .5s ease color
               @media screen and (min-width: 992px)
                    font-size: $size
          &:hover
               span 
                    color: $colorHover 
@mixin font-title($color)
     font-family: $font-title
     font-weight: $font-weightTitle
     font-size: $font-sizeTitleM
     font-style: italic
     color: $color
     margin: 0
     padding: 0
     @media screen and (min-width: 992px)
          font-size: $font-sizeTitle992
     @media screen and (min-width: 1200px)
          font-size: $font-sizeTitle

@mixin font-subtitle($color)
     font-family: $font-subTitle
     font-weight: $font-weightSubTitle
     font-size: $font-sizeSubTitleM
     color: $color
     margin: 0
     padding: 0
     @media screen and (min-width: 992px)
          font-size: $font-sizeSubTitle

@mixin font-description($color,$align)
     font-family: $font-description
     font-weight: $font-weightDescription
     font-size: $font-sizeDescriptionM
     color: $color
     margin: 0
     padding: 0
     text-align: $align
     line-height: 1.25em
     @media screen and (min-width: 992px)
          font-size: $font-sizeDescription992
     @media screen and (min-width: 1200px)
          font-size: $font-sizeDescription

@mixin font-libre($fontSize,$fontSize1200, $fontSize992,$fontSizeM,$fontTitle,$fontWeight,$fontColor)
     font-family: $fontTitle
     font-weight: $fontWeight
     font-size: $fontSizeM
     color: $fontColor
     margin: 0
     padding: 0
     @media screen and (min-width: 992px)
          font-size: $fontSize992
     @media screen and (min-width: 1200px)
          font-size: $fontSize1200
     @media screen and (min-width: 1400px)
          font-size: $fontSize
         
@mixin fullscreen-picture($height)
     picture
          width: 100%
          height: $height
          img
               width: 100%
               height: inherit
               object-fit: cover
@mixin title-line-center($padTop, $padBot, $padLeft, $padRight)
     position: relative 
     &::before,
     &::after
          content : ''
          position: absolute 
          width: 50%
          height: 1px
          background: rgba($grayDark, .2)
          top: 50%
          transform: translateY(-50%)
     &::before
          left: 0
     &::after
          right: 0
     >div
          background: white
          position: relative
          z-index: 2
          border: 0px solid red
          padding: $padTop $padRight $padBot $padLeft
@mixin cardProduct
     .cardBox
          width: 100%
          border-radius: 5px
          overflow: hidden
          box-shadow: none
          height: 100%
          &.CardBoxBanner
               height: 300px
               display: block
               @media screen and (min-width: 992px)
                    height: 320px
               @media screen and (min-width: 1200px)
                    height: 400px
               @media screen and (min-width: 1400px)
                    height: 452px
               .cardImage
                    height: 100%
          &:hover
               .cardImage
                    picture
                         img
                              transform: scale(1.25)
                    .CartText
                         bottom: 0
          .cardDetail
               text-decoration: none
               padding: 0 0 0 1.5rem
               display: inline-block
               .cardTitle
                    padding: 1rem 0 0
                    h2
                         @include font-libre(.875rem,.875rem,.75rem,.75rem,$Montserrat,600,$grayDark9)
                         text-align: left
                         text-transform: uppercase
               .cardPriceOld
                    padding: .15rem 0 0rem 0
                    margin: auto
                    text-align: center
                    h5
                         text-align: left
                         &.card-price-old
                              @include font-libre(.625rem,.6rem,.6rem,.75rem,$Montserrat,600,$grayLight3)
                              // line-height: 1em
                              span
                                   position: relative
                                   display: inline-block
                                   &:before,
                                   &:after
                                        content: ''
                                        position: absolute
                                        top: 50%
                                        transform: translateY(-50%)
                                        width: 50%
                                        left: 0
                                        right: auto 
                                        background: $grayLight3
                                        height: 1px
                                   &:after
                                        right: 0
                                        left: auto
               .cardPrice
                    padding: 0.15rem 0 .15rem 0
                    h3
                         @include font-libre(1.5rem,1.5rem,1.15rem,1rem,$Playfair,400,$blackLight)
                         text-align: left
          .cardImage
               height: 310px
               overflow: hidden
               position: relative
               width: 100%
               @media screen and (min-width: 992px)
                    height: 320px
               @media screen and (min-width: 1200px)
                    height: 400px
               @media screen and (min-width: 1400px)
                    height: 450px
               picture
                    img
                         width: 100%
                         height: 100%
                         object-fit: cover
                         transition: .5s ease-out transform 
               .CartText
                    position: absolute
                    bottom: 0%
                    left: 0
                    width: 100%
                    z-index: 10
                    box-sizing: border-box
                    padding: .5rem 1rem
                    text-transform: uppercase
                    background: rgba(white,1)
                    transition: .5s ease bottom
                    text-decoration: none
                    cursor: pointer
                    @media screen and (min-width: 992px)
                         bottom: -100%
                    p
                         background: $greenLight3
                         text-align: center
                         border: 2px solid rgba($greenLight, .75)
                         @include font-libre(.85rem,.85rem,.75rem,.7rem,$Oswald,500,white)
                         line-height: 2.35rem
                         border-radius: 20px
                         transition: .5s ease all
                         cursor: pointer
                         &:hover
                              background: $pinkLight
                              border: 2px solid rgba($pink, .25)


@mixin tableCart()
     .boxBody
          padding-top: .95rem
          @media screen and (min-width: 992px)
               padding-top: .95rem
          @media screen and (min-width: 1200px)
               padding-top: 1.5rem
          @media screen and (min-width: 1400px)
               padding-top: 1.75rem
          .boxScroll
               height: 396px
               overflow: scroll
               @media screen and (min-width: 992px)
                    height: 270px
                    overflow: scroll
               @media screen and (min-width: 1400px)
                    height: 320px
          table
               thead
                    th
                         padding: .75rem .35rem
                         border-bottom: 1px solid #dee2e6
                         text-align: center
                         @media screen and (min-width: 992px)
                              padding: .75rem
                         &:last-child
                              padding-right: 4rem
               tr
                    @include font-libre(0.75rem,0.75rem, 0.75rem,0.5rem,$Montserrat,600,$grayDark17)
               tbody
                    td
                         padding: 1rem .75rem .75rem .75rem
                         @media screen and (min-width: 992px)
                              padding: 1rem .25rem .75rem .25rem
                         @media screen and (min-width: 1400px)
                              padding: 2rem .25rem .75rem .25rem
                        
                         &.verticalCenter
                              padding-top: 2.15rem
                              @media screen and (min-width: 992px)
                                   padding-top: 2.15rem
                         &:nth-child(2)
                              p
                                   @media screen and (min-width: 1200px)
                                        width: 280px
                         &:nth-child(3)
                              p
                                   width: 60px
                                   @media screen and (min-width: 992px)
                                        width: auto
                                   
                         &:last-child
                              padding-right: 4rem
                              @media screen and (min-width: 992px)
                                   padding-left: 1.5rem
                              @media screen and (min-width: 1200px)
                                   padding-left: .9rem
                              p
                                   width: 60px
                                   @media screen and (min-width: 992px)
                                        width: auto
                                   @media screen and (min-width: 1200px)
                                        width: 80px

                         .boxCantidadProducto
                              width: 100%
                              border: 1px solid $brown
                              height: 30px
                              border-radius: 0px
                              overflow: hidden
                              position: relative
                              top: -.5rem
                              @media screen and (min-width: 992px)
                                   border-radius: 30px
                              > div
                                   height: 100%
                                   div
                                        flex: 1
                                        padding: 0 .25rem
                                        p
                                             @include font-libre(1.063rem,1.063rem, 1.063rem,1rem,$Montserrat,500,$brown)
                                             text-align: center
                                   a
                                        border: 0px solid red
                                        height: 100%
                                        flex: 1
                                        text-decoration: none
                                        p
                                             @include font-libre(1.563rem,1.563rem, 1.563rem,1rem,$Montserrat,500,$brown)
                                             text-align: center
                                             padding-left: .25rem
                                             padding-right: .25rem
                                        &.btnMenos
                                             border-right: 1px solid $brown
                                        &.btnMas
                                             border-left: 1px solid $brown
                                             
                                   
                         h3
                              @include font-libre(0.875rem,0.875rem, 0.875rem,0.875rem,$Montserrat,500,$grayDark17)
                         .descriptionTable
                              padding-left: .5rem
                              display: none
                              @media screen and (min-width: 992px)
                                   display: block
                                   width: 190px
                              @media screen and (min-width: 1200px)
                                   width: auto
                         picture
                              &.imgProduct
                                   width: 40px
                                   height: 50px
                                   border-radius: 10px
                                   display: block
                                   overflow: hidden
                                   border: 1px solid $brown
                                   @media screen and (min-width: 992px)
                                        width: 70px
                                        height: 83px
                                   // @media screen and (min-width: 1400px)
                                   //      width: 114px
                                   //      height: 135px
                                   img
                                        width: 100%
                                        object-fit: cover
                                        height: 100%
                         a
                              &.delete
                                   margin-top: 20px
                                   display: inline-block
                                   @media screen and (min-width: 992px)
                                        margin-top: 33px
                                   // @media screen and (min-width: 1400px)
                                   //      margin-top: 50px
                                   picture
                                        img
                                             width: 14px
                                             @media screen and (min-width: 992px)
                                                  width: 18px    
                                             // @media screen and (min-width: 1400px)  
                                             //      width: 29px   
                         p
                              @include font-libre(0.75rem,0.75rem, 0.75rem,0.65rem,$Montserrat,500,$grayDark17)
    
@mixin tableDivCart()
     .boxBody
          padding-top: .95rem
          @media screen and (min-width: 992px)
               padding-top: .95rem
          @media screen and (min-width: 1200px)
               padding-top: 1.5rem
          @media screen and (min-width: 1400px)
               padding-top: 1.75rem
          .boxScroll
               height: 264px
               border: 0px solid red
               overflow: scroll
               margin-top: 1rem
               @media screen and (min-width: 992px)
                    height: 268px
                    overflow: scroll
               @media screen and (min-width: 1400px)
                    height: 373px
          .boxTable
               .boxHeaderTable
                    > div
                         border: 1px solid $blancoHuno2
                         background: $blancoHuno
                         border-radius: 10px
                         overflow: hidden
                         div  
                              &:first-child
                                   width: 7%
                              &:last-child
                                   width: 100% 
                                   div 
                                        &:nth-child(1)
                                             width: 40%
                                             @media screen and (min-width: 992px)
                                                  width: 45%
                                        &:nth-child(2)
                                             width: 20%
                                             @media screen and (min-width: 992px)
                                                  width: 15%
                                        &:nth-child(3)
                                             width: 20%
                                        &:last-child
                                             width: 20%
                         text-align: center
                         @include font-libre(0.75rem,0.75rem, 0.75rem,0.65rem,$Montserrat,600,$grayDark17)
                         padding: .85rem 0rem 
                              
               .boxBodyTable
                    > div
                         border: 1px solid $blancoHuno2
                         background: $blancoHuno
                         border-radius: 10px
                         overflow: hidden
                         padding: 1rem 0rem 
                         margin-bottom: .75rem
                         @media screen and (min-width: 992px)
                              margin-bottom: 1rem
                         > div
                              border: 0px solid red
                              width: 100%
                              &.boxDeleted
                                   width: 7%
                                   margin: auto
                                   text-align: center
                              > div
                                   width: 40%
                                   @media screen and (min-width: 992px)
                                        width: 45%
                                   &:nth-child(2)
                                        width: 20%
                                        @media screen and (min-width: 992px)
                                             width: 15%
                                   &:nth-child(3)
                                        width: 20%
                                   &:last-child
                                        width: 20%
                              h3
                                   @include font-libre(0.875rem,0.875rem, 1rem,0.8rem,$Montserrat,600,$grayDark17)
                              p
                                   @include font-libre(0.75rem,0.75rem, 0.85rem,0.65rem,$Montserrat,500,$grayDark17)
                                   &.textVertical
                                        margin-top: .35rem
                              picture
                                   &.imgProduct
                                        width: 50px
                                        height: 80px
                                        border-radius: 10px
                                        display: block
                                        overflow: hidden
                                        border: 1px solid $brown
                                        margin-right: .25rem
                                        @media screen and (min-width: 992px)
                                             width: 70px
                                             height: 83px
                                             margin-right: .75rem
                                        @media screen and (min-width: 1400px)
                                             width: 114px
                                             height: 135px
                                        img
                                             width: 100%
                                             object-fit: cover
                                             height: 100%
                              
                              
                              .boxCantidadProducto
                                   width: 100%
                                   border: 1px solid $brown
                                   height: 30px
                                   border-radius: 0px
                                   overflow: hidden
                                   position: relative
                                   top: 0rem
                                   @media screen and (min-width: 992px)
                                        border-radius: 30px
                                   > div
                                        height: 100%
                                        div
                                             flex: 1
                                             padding: 0 .25rem
                                             p
                                                  @include font-libre(1.063rem,1.063rem, 1.063rem,1rem,$Montserrat,500,$brown)
                                                  text-align: center
                                        a
                                             border: 0px solid red
                                             height: 100%
                                             flex: 1
                                             text-decoration: none
                                             p
                                                  @include font-libre(1.563rem,1.563rem, 1.563rem,1rem,$Montserrat,500,$brown)
                                                  text-align: center
                                                  padding-left: .25rem
                                                  padding-right: .25rem
                                             &.btnMenos
                                                  border-right: 1px solid $brown
                                             &.btnMas
                                                  border-left: 1px solid $brown
                         a
                              &.delete
                                   picture
                                        img
                                             width: 14px
                                             @media screen and (min-width: 992px)
                                                  width: 24px    
                                             @media screen and (min-width: 1400px)  
                                                  width: 29px  

@mixin inputFormPago()
     .error-input
          @include font-libre(0.65rem,0.65rem, 0.65rem,0.65rem,$Montserrat,500,$pink)
          padding-left: .5rem
          padding-top: .25rem
     textarea
          border-radius: 30px
          background-color: $grayDark19 
          border: 1px solid $grayDark20
          @include font-libre(0.75rem,0.75rem, 0.75rem,0.75rem,$Montserrat,500,$grayDark18)
          padding-left: 1.25rem
          padding-right: 2.5rem
          padding-top: .85rem
          &:focus,
          &:hover
               background-color: $grayDark19 
               border: 1px solid $grayDark20
               outline: none
               box-shadow: none
     select
          border-radius: 30px
          height: 51px
          background-color: $grayDark19
          border: 1px solid $grayDark20
          @include font-libre(0.75rem,0.75rem, 0.75rem,0.75rem,$Montserrat,500,$grayDark18)
          padding-left: 1.25rem
          padding-right: 2.5rem
          &.is-invalid
               box-shadow: 0 0 0 0.1rem rgba($pink, 0.15)
               border-color: $pink
          &.is-valid
               border-color: $greenLight3
               &:focus 
                    box-shadow: none
          &:focus,
          &:hover
               outline: none
               box-shadow: none
               border: 1px solid $grayDark20
     input[type="text"]
          border-radius: 30px
          height: 51px
          background-color: $grayDark19
          border: 1px solid $grayDark20
          @include font-libre(0.75rem,0.75rem, 0.75rem,0.75rem,$Montserrat,500,$grayDark18)
          padding-left: 1.25rem
          padding-right: 2.5rem  
          &.is-invalid
               box-shadow: 0 0 0 0.1rem rgba($pink, 0.15)
               border-color: $pink
          &.is-valid
               border-color: $greenLight3
          &:focus,
          &:hover
               outline: none
               box-shadow: none
               &.is-invalid
                    box-shadow: 0 0 0 0.1rem rgba($pink, 0.15)
                    border-color: $pink
               // box-shadow: 0 0 0 0.1rem rgba($blackLight, 0.15)
               // border-color: $grayDark20
               // color: $grayDark18

@mixin accordion($colorBackground, $colorBorder, $colorText)
     .accordion
          h2
               @include font-libre(1rem,1rem,.9rem,.9rem,$Montserrat,600,$pinkLight2)
               line-height: 2.5em
               strong
                    font-weight: 700
          p
               @include font-libre(1rem,1rem,.9rem,.85rem,$Montserrat,400,$grayDark16)
               line-height: 1.75em
               margin: 0 0 1rem 0 
               &.bold
                    font-weight: 700
               strong
                    font-weight: 600
          ul
               margin: 0 0 1rem 1.15rem
               padding: 0
               list-style: none
               ul
                    margin: 0 0 0 1.75rem

               li
                    @include font-libre(1rem,1rem,.9rem,.85rem,$Montserrat,400,$grayDark16)
                    line-height: 1.75em
                    margin: 0
                    &:before
                         content: "\2022"
                         color: $pinkLight2
                         font-weight: bold
                         display: inline-block
                         width: 1rem
                         position: relative
                         top: 0rem
                         font-size: 1.25rem
                         margin-left: -1.07rem
          &.active
               display: block
          .card 
               border: 0
               border-radius: 0
               &:not(:last-of-type)
                    margin-bottom: .75rem
               .card-header
                    background: $colorBackground
                    border: 1px solid $colorBorder
                    margin-bottom: 0
                    border-radius: 10px
                    overflow: hidden
                    .btn-info
                         background: $colorBackground
                         border-color: $colorBorder
                         border: 0
                         color: $colorText
                         text-align: left
                         &:focus,
                         &:hover
                              outline: none
                              box-shadow: none
          
@mixin cbxDateHora()
     .tabHorarios
          height: 0
          overflow: hidden
          // &.active
          //      display: block
          .b-calendar-header
               display: none !important
          .tabs
               border: 1px solid $orange 
               border-top: 0
               border-bottom-left-radius: 10px
               border-bottom-right-radius: 10px
               width: $anchoContent2
               .tab-content
                    padding: .75rem 0 .85rem
                    min-height: 150px
                    @media screen and (min-width: 992px)
                         padding: 1.25rem 0 2.5rem
                    .form-check
                         padding: 0
                         .custom-control
                              padding-left: 0
                         &.disabled
                              label,
                              label:hover
                                   background: rgba($grayDark3,.1 )
                         label 
                              display: inline-block
                              cursor: pointer
                              position: relative
                              border-radius: 5px
                              transition: all .3s ease
                              @include font-libre(0.875rem,0.8rem,0.785rem,.75rem,$Montserrat,600,$blue)
                              padding: 9px 15px 5px 40px
                              &:hover 
                                   background: rgba($pinkLight2, .1)
                              &:before 
                                   content: ""
                                   display: inline-block
                                   width: 17px
                                   height: 17px
                                   position: absolute
                                   left: 15px
                                   top: 9px
                                   border-radius: 50%
                                   background: none
                                   border: 3px solid $grayDark13
                         input[type="radio"]
                              display: none
                              &:checked + label:before 
                                   border: 3px solid $pinkLight2
                              &:checked + label 
                                   // padding: 5px 15px
                                   border-radius: 2px
                    > section
                         display: none
                         width: 100%
                         border: 0px solid red
                         margin: auto
                         text-align: center
                         @media screen and (minwidth: 992px)
                              height: 70%
                         &.active
                              display: block
               .tabHeader
                    > div
                         padding: .85rem 0

                         div
                              width: 35%
                              padding: .5rem 0
                              border: 1px solid $grayDark4
                              background: $blancoHuno
                              cursor: pointer
                              
                              img 
                                   width: 22px
                                   margin-right: .5rem
                              span
                                   @include font-libre(0.875rem,0.8rem,0.785rem,.75rem,$Montserrat,600,$blue)
                              &:first-child
                                   border-top-left-radius: 20px
                                   border-bottom-left-radius: 20px
                                   border-right: 0
                              &:last-child
                                   border-top-right-radius: 20px
                                   border-bottom-right-radius: 20px
                              &.active
                                   background: $grayDark12
     .selectHorario
          .cbxHorario
               border: 1px solid $grayDark4
               background: $grayLight
               padding: 1rem .5rem 1rem .5rem
               width: $anchoContent2
               border-radius: 40px
               box-sizing: border-box
               cursor: pointer
               position: relative
               @media screen and (min-width: 992px)
                    padding: 1rem .5rem 1rem 1.5rem 
               &.active
                    border-radius: 40px 40px 0px 0
                    border: 1px solid $orange
                    border-bottom: 1px solid $grayDark4
                    .arrowIcon
                         opacity: 0
                    .arrowIcon-active
                         opacity: 1
                    span
                         color: $blue
                    .lineSeparate
                         background: $blue
               .lineSeparate
                    width: .75rem
                    background: $grayDark11
                    height: 2px
                    margin: 0 .25rem 
                    @media screen and (min-width: 992px)
                         width: .75rem
                         margin: 0 1rem 
               img
                    &.arrowIcon-active
                         opacity: 0
                    &.arrowIcon
                         position: absolute
                         top: 50%
                         transform: translateY(-50%)
                         right: 1rem
                    &.imgIcon
                         width: 14px
                         margin-right: .5rem
                         @media screen and (min-width: 992px)
                              width: 22px
                    
               span
                    @include font-libre(0.875rem,0.85rem,0.85rem,.75rem,$Montserrat,600,black)
@mixin boxSwicth()
     .switch
          position: relative
          margin: 0 .35rem
          &__input
               position: absolute
               cursor: pointer
               top: 0
               right: 0
               left: 0
               bottom: 0
               width: 100%
               height: 100%
               margin: 0
               opacity: 0
               z-index: 1
               &:checked + .switch__label
                    background-color: $greenLight3
                    &::before
                         left: calc(100% - 22px)
                         border-color: white
                         background-color: white
                         content: "" 
          &__label
               display: block
               position: relative
               width: 50px
               height: 23px
               background-color: $brownLight2
               border-radius: 25px
               transition: 0.4s
               margin-bottom: 0.15rem
               &::before
                    display: flex
                    align-items: center
                    justify-content: center
                    position: absolute
                    top: 1px
                    right: auto
                    left: 1px
                    bottom: 0
                    width: 21px
                    height: 21px
                    border-radius: 100%
                    border: 2px white solid
                    background-color: white
                    color: white
                    transition: 0.4s
                    content: ""