@keyframes cardDetailButtomHoverIn
     0%
          opacity: 0
          transform: translateY(-10px)
     100%
          opacity: 1
          transform: translateY(0px)
@keyframes cardDetailHoverIn
     from
          opacity: 0
          height: 0
     to
          opacity: 1
          height: 70px
@keyframes cardDetailHoverOut
     from
          opacity: 1
          height: 70px
     to
          opacity: 0
          height: 0px
          
     
@mixin svg-font($sizeS:1rem,$size:2rem,$color:$red)
     svg
          font-size: $sizeS
          color: $color
          @media screen and (min-width: 992px)
               font-size: $size


@mixin font-menu($weight,$sizeS,$sizeM,$sizeL,$size,$color,$colorHover)
     a
          line-height: 1.5em
          text-transform: uppercase
          display: inline-block
          padding: 0rem .15rem
          margin: 0 .5rem
          text-decoration: none
          position: relative
          @media screen and (min-width: 992px)
               margin: 0 .35rem
          @media screen and (min-width: 1200px)
               margin: 0 .65rem
          @media screen and (min-width: 1400px)
               margin: 0 1rem
          .icon-chevron-down
               position: absolute
               bottom: -14px
               left: 50%
               color: $color
               transform: translateX(-50%)
          span 
               font-family: $font-menu
               font-weight: $weight
               font-size: $sizeS
               color: $color
               transition: .5s ease color
               letter-spacing: -.025em
               @media screen and (min-width: 992px)
                    font-size: $sizeM
               @media screen and (min-width: 1200px)
                    font-size: $sizeL
               @media screen and (min-width: 1400px)
                    font-size: $size
          &:hover
               svg,
               span
                    color: $colorHover
          &.btn-event-main
               color: $pink
               @include svg-font($sizeS,1.5rem,$pink)
               svg
                    margin-right: .5rem 

               &:hover 
                    color: $pink

@mixin font-account($weight,$sizeS,$size,$color,$colorHover)
     a
          text-decoration: none
          span
               font-family: $font-account
               font-weight: $weight
               font-size: $sizeS
               color: $color 
               transition: .5s ease color
               @media screen and (min-width: 992px)
                    font-size: $size
          &:hover
               span 
                    color: $colorHover 
@mixin font-title($color)
     font-family: $font-title
     font-weight: $font-weightTitle
     font-size: $font-sizeTitleM
     font-style: italic
     color: $color
     margin: 0
     padding: 0
     @media screen and (min-width: 992px)
          font-size: $font-sizeTitle992
     @media screen and (min-width: 1200px)
          font-size: $font-sizeTitle

@mixin font-subtitle($color)
     font-family: $font-subTitle
     font-weight: $font-weightSubTitle
     font-size: $font-sizeSubTitleM
     color: $color
     margin: 0
     padding: 0
     @media screen and (min-width: 992px)
          font-size: $font-sizeSubTitle

@mixin font-description($color,$align)
     font-family: $font-description
     font-weight: $font-weightDescription
     font-size: $font-sizeDescriptionM
     color: $color
     margin: 0
     padding: 0
     text-align: $align
     line-height: 1.25em
     @media screen and (min-width: 992px)
          font-size: $font-sizeDescription992
     @media screen and (min-width: 1200px)
          font-size: $font-sizeDescription

@mixin font-libre($fontSize,$fontSize1200, $fontSize992,$fontSizeM,$fontTitle,$fontWeight,$fontColor)
     font-family: $fontTitle
     font-weight: $fontWeight
     font-size: $fontSizeM
     color: $fontColor
     margin: 0
     padding: 0
     @media screen and (min-width: 992px)
          font-size: $fontSize992
     @media screen and (min-width: 1200px)
          font-size: $fontSize1200
     @media screen and (min-width: 1400px)
          font-size: $fontSize
         
@mixin fullscreen-picture($height)
     picture
          width: 100%
          height: $height
          img
               width: 100%
               height: inherit
               object-fit: cover
@mixin title-line-center($padTop, $padBot, $padLeft, $padRight)
     position: relative 
     &::before,
     &::after
          content : ''
          position: absolute 
          width: 50%
          height: 1px
          background: rgba($grayDark, .2)
          top: 50%
          transform: translateY(-50%)
     &::before
          left: 0
     &::after
          right: 0
     >div
          background: white
          position: relative
          z-index: 2
          border: 0px solid red
          padding: $padTop $padRight $padBot $padLeft
@mixin cardProduct
     .cardBox
          width: 100%
          border-radius: 5px
          overflow: hidden
          box-shadow: none
          height: 100%
          &.CardBoxBanner
               height: 300px
               display: block
               @media screen and (min-width: 992px)
                    height: 320px
               @media screen and (min-width: 1200px)
                    height: 400px
               @media screen and (min-width: 1400px)
                    height: 452px
               .cardImage
                    height: 100%
          &:hover
               .cardImage
                    picture
                         img
                              transform: scale(1.25)
                    .CartText
                         bottom: 0
          .cardDetail
               text-decoration: none
               padding: 0 0 0 1.5rem
               display: inline-block
               .cardTitle
                    padding: 1rem 0 0
                    h2
                         @include font-libre(.875rem,.875rem,.75rem,.75rem,$Montserrat,600,$grayDark9)
                         text-align: left
               .cardPriceOld
                    padding: .15rem 0 0rem 0
                    margin: auto
                    text-align: center
                    h5
                         text-align: left
                         &.card-price-old
                              @include font-libre(.625rem,.6rem,.6rem,.75rem,$Montserrat,600,$grayLight3)
                              // line-height: 1em
                              span
                                   position: relative
                                   display: inline-block
                                   &:before,
                                   &:after
                                        content: ''
                                        position: absolute
                                        top: 50%
                                        transform: translateY(-50%)
                                        width: 50%
                                        left: 0
                                        right: auto 
                                        background: $grayLight3
                                        height: 1px
                                   &:after
                                        right: 0
                                        left: auto
               .cardPrice
                    padding: 0.15rem 0 .15rem 0
                    h3
                         @include font-libre(1.5rem,1.5rem,1.15rem,1rem,$Playfair,400,$blackLight)
                         text-align: left
          .cardImage
               height: 310px
               overflow: hidden
               position: relative
               width: 100%
               @media screen and (min-width: 992px)
                    height: 320px
               @media screen and (min-width: 1200px)
                    height: 400px
               @media screen and (min-width: 1400px)
                    height: 450px
               picture
                    img
                         width: 100%
                         height: 100%
                         object-fit: cover
                         transition: .5s ease-out transform 
               .CartText
                    position: absolute
                    bottom: 0%
                    left: 0
                    width: 100%
                    z-index: 10
                    box-sizing: border-box
                    padding: .5rem 1rem
                    text-transform: uppercase
                    background: rgba(white,1)
                    transition: .5s ease bottom
                    text-decoration: none
                    cursor: pointer
                    @media screen and (min-width: 992px)
                         bottom: -100%
                    p
                         background: $greenLight3
                         text-align: center
                         border: 2px solid rgba($greenLight, .75)
                         @include font-libre(.85rem,.85rem,.75rem,.7rem,$Oswald,500,white)
                         line-height: 2.35rem
                         border-radius: 20px
                         transition: .5s ease all
                         cursor: pointer
                         &:hover
                              background: $pinkLight
                              border: 2px solid rgba($pink, .25)


     
    

     